.container {
    width: 80%;
    margin: 0 auto;
}

h1, h3{
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out; /* Add transition for smooth effect */
}

li:hover {
    background-color: #f5f5f5;
    transform: scale(1.05); /* Increase the size on hover */
}

.todo-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.todo-item-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.todo-content {
    color: #666;
    margin-bottom: 10px;
}
	
.todo-time {
    color: #666;
	margin-right: 20px;
}	

.todo-item-content{
	margin-left: 20px;	
}

.todo-date {
    color: #888;
    font-size: 14px;
}

.todo-user {
    color: #888;
    font-style:italic;
    font-size: 10px;
}

/* Add some space between to-do items */
li + li {
    margin-top: 10px;
}

.add-item-box{
	padding-bottom: 15px;
}

.add-item-button {
    background-color: black;
    opacity: 0.85;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 140px;
    
 }